#button {
    float: right;
    position: relative;
    bottom: 50px
}

h1 {
    position: relative;
    bottom: 80px
}

.drop {
    padding-bottom: 30px;
}

#menu {
    width: 20%;
    display: block;
    padding-top: 100px;
    background-color: cornflowerblue;
}

.icon {
    margin-top: 50px;
    margin: 20px;
    height: auto
}

.icon,
p {
    display: inline;
    padding: 25px;
}

.icon,
i {
    display: block;
    margin-top: 20px;
}

￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ .wrapper {
    float: left;
}

.drop {
    margin-left: 65px;
}