#button {
    float: right;
}

.drop {
    padding-bottom: 30px;
}

#menu {
    width: 20%;
    display: block;
    padding-top: 100px
}

.icon {
    margin-top: 50px;
    margin: 20px;
    height: auto
}

.icon,
p {
    display: inline;
    padding: 30px;
}

icon,
i {
    display: block;
    margin-top: 20px;
}

.content {
    margin-left: 200px;
    position: relative;
    bottom: 250px;
}